.review-container {
  padding: 1rem;
}

.review-content {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  /* height: 100vh; */
  margin-bottom: 5rem;
}

.review-title,
.review-headings,
.review {
  width: 100%;
}

.review-title h2,
.review-headings p,
.review p {
  margin: 0;
}

.review-title h2 {
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 900;
  margin-bottom: 2rem;
}

.review-headings,
.review,
.review-sub-headings {
  display: flex;
  justify-content: space-between;
}

.review-headings p {
  font-size: 1rem;
  text-transform: uppercase;
}

.review-sub-headings {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.review-sub-headings p,
.background p {
  font-size: 1.5rem;
}
.review-sub-headings {
  position: relative;
  overflow: hidden;
}

.review {
  flex-direction: column;
  border-top: 3px solid var(--secondary);
  position: relative;
  overflow: hidden;
  gap: 3rem;
}

.review-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.review-image {
  width: 50%;
  max-width: 300px;
}

.sub-headings-hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  color: var(--primary);
}

.review-sub-headings {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.review-image img {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.review-text {
  width: 50%;
  min-width: 350px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review-text p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .review-title h2 {
    font-size: 2.5rem;
  }
  .review-details {
    flex-direction: column;
  }

  .review-sub-headings p,
  .background p {
    font-size: 1.25rem;
  }

  .review-text p {
    text-align: left;
    font-size: 1.25rem;
  }

  .sub-headings-hover {
    display: none;
  }
}
