.music-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-content {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  gap: 10rem;
}

.song iframe {
  width: 500px;
  height: 500px;
}

.music-images {
  max-width: 500px;
  min-width: 320px;
  overflow: hidden;
}

.music-images img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .song iframe {
    width: 320px;
  }
}
