.publication-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.publication-gallery {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.publication-heading {
  align-self: start;
}
.publication-heading h2 {
  margin: 0;
  font-size: 5vw;
  font-weight: 900;
}

.publication {
  cursor: pointer;
}

.publication a {
  text-decoration: none;
  color: var(--secondary);
  width: 100%;
}

.pub {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.publication p {
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.publication p:nth-of-type(1) {
  margin-right: 1rem;
}

.publication p:nth-of-type(2) {
  margin-right: 1rem;
}

.publication img {
  width: 5vw;
}

.publication .publication-image-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
}

@media screen and (max-width: 600px) {
  .publication p {
    font-size: 1.5rem;
  }
  .publication-gallery {
    width: 100%;
  }

  .publication-gallery h2 {
    font-size: 2.5rem;
  }
}
