.shootImage-container {
  padding: 1rem;
}

.shootImage {
  /* height: 100vh; */
  margin-bottom: 100px;
  margin-top: 100px;
  /* display: relative; */
}

.shootImage > img {
  max-height: calc(100vh - 40px);
  max-width: 80vw;
}

.shootImage-title,
.shootImage-back {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--white);
  margin: 0;
}

.shootImage-title {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.shootImage-back {
  position: absolute;
  text-transform: uppercase;
}
