.shootImage-container {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.shootImage {
  /* height: 100vh; */
  /* margin-bottom: 50px; */
  /* margin-top: 75px; */
}

.shootImage > img {
  max-height: calc(100vh - 40px);
  max-width: 80vw;
}

.shootImage-title,
.shootImage-back {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--white);
  margin: 0;
}

.shootImage-title {
  position: absolute;
  /* bottom: -50px; */
  bottom: 10px;
}

.shootImage-back {
  position: absolute;
  text-transform: uppercase;
}
