.shoots-container {
  padding: 1rem;
}

.shoots-content {
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.shot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  overflow: hidden;
}

.shot > div {
  width: 200px;
  position: relative;
  overflow: hidden;
}

.shoot-image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.image-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
}

@media screen and (max-width: 600px) {
  .shot > div {
    width: 100px;
  }
}
