/* new css rules for below  */
.home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow: visible;
  padding: 0 2rem 2rem 2rem;
}

.landing-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

.landing-image {
  width: 50%;
}
.landing-image img {
  /* height: 650px; */
  width: 100%;
}

.landing-text {
  /* position: absolute; */
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.landing-text p {
  margin: 0;
  font-size: 4rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h2 {
  font-size: 3rem;
  font-weight: bold;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  position: relative;
}

.body p {
  margin: 0px;
  text-align: left;
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 500;
  gap: 8px;
  line-height: 1.3;
}

.body p span {
  margin: 3px;
}

.body p .mask {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  .landing-container p:nth-of-type(1) {
    font-size: 3rem;
  }
  .landing-container p:nth-of-type(2) {
    font-size: 2rem;
  }
  .body p {
    font-size: 1.5rem;
  }
}
