/* Home Page  */
.home {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  overflow: hidden;
}

/* Landing Page  */
.landing-page {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
}

.landing-image {
  height: 85vh;
  max-height: 90vh;
  aspect-ratio: 2/3;
}

.landing-image img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.landing-text,
.landing-text img {
  width: 100%;
}

/* About Me */
.about-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.about-title h2 {
  margin: 0;
  font-size: 5vw;
  font-weight: 900;
}

.about-body {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  gap: 3rem;
  position: relative;
  /* max-width: 1200px; */
}

.about-body p {
  margin: 0px;
  text-align: left;
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: 500;
  gap: 8px;
  line-height: 1.3;
}

.about-body p span {
  margin: 3px;
}

.about-body p .mask {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  .about-body p {
    font-size: 1.5rem;
  }

  .landing-page {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
  }

  .landing-image {
    width: 320px;
    height: 500px;
  }

  .about-title h2 {
    font-size: 2.5rem;
  }
}
