.nav-header {
  background-color: var(--secondary);
  color: var(--primary);
  position: fixed;
  padding: 0.625rem;
  width: 100%;
  box-sizing: border-box;
}
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

.nav-title {
  font-weight: bold;
}

.nav-title p,
.nav-menu-btn p {
  margin: 0;
}
.nav-menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
}

.nav-menu-btn:hover {
  cursor: pointer;
}

.nav-menu-btn p:nth-of-type(2) {
  position: absolute;
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  .nav-header {
    padding: 20px;
  }
}
